.grid {
  display: grid;
  grid-template-areas:
    'header header header header'
    'main main . not-react';
  grid-template-rows: 1fr 5fr;
  height: 90vh;
}

.header {
  grid-area: header;
  background-color: aliceblue;
}

.main {
  grid-area: main;
  background-color: pink;
}

.notReact {
  grid-area: 'not-react';
  background-color: aqua;
}
